/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body{
    background: #f5f5f5;

}

a{
    text-decoration: none;
    color:inherit;
    line-height: 1;
    cursor:pointer;
}

.container
{
    padding-left:10%;
    padding-right:10%;
}
.btn
{
    background: #fff;
    color:#212121;
    padding:14px 25px;
    font-size:16px;
    border-radius:16px;
    cursor:pointer;
    border:0;
    outline:0;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
} */




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  background: #f5f5f5;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
