.programs {
  display: flex;
  gap: 40px;
  padding: 50px 80px;
  justify-content: center;
  background-color: white;
}

/* Card */
.program-card {
  position: relative;
  width: 300px;
  height: 380px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

/* Image */
.program-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(180, 188, 235, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Hover effect */
.program-card:hover .overlay {
  opacity: 0.8;
}

/* Icon */
.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

/* Text */
.overlay p {
  font-size: 18px;
  font-weight: 600;
}

/* Responsive */
@media (max-width: 900px) {
  .programs {
    flex-direction: column;
    align-items: center;
  }

  .program-card {
    width: 90%;
    max-width: 350px;
  }
}
